# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
._Hardware-Code
Hardware-Code/._.DS_Store
Hardware-Code/.DS_Store
Hardware-Code/aws-Iot/._secrets.h
Hardware-Code/._aws-Iot
Hardware-Code/aws-Iot/._aws-Iot.ino
